*{
	padding: 0;
	margin: 0;
	font-family: Microsoft YaHei;
}
.position{
	margin-top: 10px;
}
.users{
	height: 400px;
	overflow-y: auto;
}
.online{
	margin-left: 150px;
}
.chat{
	height: 563px;
}
.chat-msg{
	position: relative;
	height: 500px;
	overflow-y: auto;
	margin-bottom: 5px;
}
.chat-content-others{
	border: 3px solid #3498db;
	border-radius: 5px;
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 17px;
}
.chat-content-heading-others{
	margin-top: -13px;
	margin-left: 15px;
	width: 300px;
	border-radius: 5px;
}
.span-style-others{
	margin-right: 10px;
}
.chat-content-body{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	overflow-x: auto;
}

.input-nickname-postion{
	position: absolute;
	top: 250px;
}
.nickname-input{
	font-size: 25px;
	height: 60px;
}
.bg{
	background-color: #66CCFF;
	height: 662px;
}
.choosefile{
	width: 100%;
	background-color: #55d98d;
	border-radius: 6px;
	height: 37px;
}
.btn-pos{
	margin-top: 1.5px;
}
